{% extends 'base.html.twig' %}

{% block turbo %}
    <meta name="turbo-enabled" content="false">
{% endblock %}

{% block body_attributes %}data-turbo="false"{% endblock %}

{% block body %}
    {% set image_settings = settings_repository().getSettings('image_settings') %}

        <!-- Main Content -->
        <div class="flex-1 overflow-auto">
            <div class="p-8">
                {% block admin_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %} 