<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# Add this block for Turbo control #}
        {% block turbo %}{% endblock %}
    </head>
    <body {% block body_attributes %}{% endblock %}>
        <div id="main-content">
            {% block body %}{% endblock %}
        </div>

        {# Move JavaScript to end of body for better performance and to ensure DOM is loaded #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
